:root {
  --primary-bg: #f0f2f5;
  --secondary-bg: #ffffff;
  --primary-text: #1c1e21;
  --secondary-text: #65676b;
  --accent-1: #4267B2;
  --accent-2: #00B2FF;
  --accent-3: #5F9EA0;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --primary-bg: #18191a;
  --secondary-bg: #242526;
  --primary-text: #e4e6eb;
  --secondary-text: #b0b3b8;
  --box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #e2e2e2 0%, #ffffff 100%);
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  transition: all 0.3s ease;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.topic-list {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topic-link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: var(--primary-text);
  transition: background-color 0.3s;
}

.topic-link:hover {
  background-color: burlywood;
  color: rgb(59, 26, 166);
  border-radius: 5px;
}

.content-area {
  flex-grow: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--primary-text);
  text-align: center;
}

.page-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--primary-text);
}

.topic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1000px;
  width: 100%;
}

.topic-box {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg);
  border-radius: 15px;
  text-decoration: none;
  color: var(--primary-text);
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.topic-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.topic-name {
  text-align: center;
}

.topic-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.banner {
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('img/19.jpg');
  background-size: cover;
  background-position: center;
  animation: bgZoomIn 4s ease-in-out 1 forwards;
  z-index: -1;
  pointer-events: none;
}
.banner::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('img/after.png');
  background-size: cover;
  background-position: top;
  transform: scale(2);
  animation: bgZoomOut 4s ease-in-out 1 forwards;
  z-index: -1;
  pointer-events: none;
  
}

@keyframes bgZoomIn {
  from {
    transform: scale(1.2);
  } to {
    transform: scale(1);
  }
}
@keyframes bgZoomOut {
  from {
    transform: scale(1);
  } to {
    transform: scale(2);
  }
}

svg path {
  fill: #FF6500;
  stroke: #FF6500;
  stroke-width: 0.2;
  stroke-dasharray: 40;
  stroke-dashoffset: 50;
  animation: textAnimation 1500ms ease-in-out 1 forwards;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #FF6500;
    stroke-dashoffset: 4;
  }
}


.theme-toggle:hover {
  transform: scale(1.1);
}